# Exercícios

1. Crie um dataframe de tax_data_2016.csv que usa apenas as colunas específicas necessárias para ver se há diferenças por geografia e nível de renda na composição familiar.
Para fazer isso, selecione as colunas sobre grupo de renda, são elas: CEP (zipcode), status de declaração de imposto de renda (coluna mars1 para solteiro e MARS2 para casado), e  NUMDEP (número de dependentes).

In [40]:
import pandas as pd
pd.set_option("display.max_columns", 100)

In [41]:
tax_data_path = 'dados/atividade1/us_tax_data_2016.csv'

# Leitura dos dados geográficos a partir do .csv para montar um dataframe para análise, já tratando os valores nulos e definindo o tipo correto de dados para os zipcodes
geo_df = pd.read_csv(
        tax_data_path,
        na_values={"zipcode": [0]},
        dtype={"zipcode": str},
        usecols=['zipcode', 'mars1', 'MARS2', 'NUMDEP']
    )
geo_df.head()  # Amostra dos primeiros registros para verificar tratamento das nulidades

  zipcode   mars1   MARS2  NUMDEP
0     NaN  477700  105350  491310
1     NaN  211930  142340  360480
2     NaN   83420  137870  182880
3     NaN   29420  124060  130160
4     NaN   20240  188080  195990

In [42]:
geo_df.tail()  # Amostra dos últimos registros para posterior validação do somatório

     zipcode  mars1  MARS2  NUMDEP
2996   36584      0     30      30
2997   36584      0     30      30
2998   36584      0      0       0
2999   36585     80     20      90
3000   36585     40     30      60

#### Daqui para baixo uma pequena análise dos dados obtidos agrupando por região geográfica, efetuando o somatório das declarações dos solteiros, casados e dos números de dependentes para buscar alguns padrões

In [43]:
df_analysis = geo_df.groupby(['zipcode']).agg('sum')
df_analysis.head()

         mars1  MARS2  NUMDEP
zipcode
35004     2150   2140    3430
35005     1340    890    2170
35006      430    600     820
35007     4770   5140    8840
35010     2910   2730    6070

In [44]:
df_analysis[df_analysis.index >= '36584']  # Para conferir se a agregação somou corretamente, comparando com o retorno do tail(). Observada diferença para o zipcode 36584

         mars1  MARS2  NUMDEP
zipcode
36584       80    130     210
36585      120     50     150

In [45]:
geo_df[geo_df['zipcode'] == '36584']  # Retornando todos os dados do zipcode 36584 para dupla checagem. Verificado que tudo ok

     zipcode  mars1  MARS2  NUMDEP
2993   36584     50     40      60
2994   36584     30      0      50
2995   36584      0     30      40
2996   36584      0     30      30
2997   36584      0     30      30
2998   36584      0      0       0

In [46]:
# Ordenações para listar as regiões geográficas por zipcode com maiores/menores declarações de imposto para solteiros, casados e com maior/menor quantidade de dependentes
df_analysis_top_mars1 = df_analysis.sort_values(by='mars1', ascending=False)
df_analysis_top_mars2 = df_analysis.sort_values(by='MARS2', ascending=False)
df_analysis_top_numdep = df_analysis.sort_values(by='NUMDEP', ascending=False)

df_analysis_top_mars1.head()  # Região top solteiros: 35242

         mars1  MARS2  NUMDEP
zipcode
35242    10780  12050   16390
36117     9810   7190   14230
35758     8760   9690   15000
35215     8480   3240   17510
35405     8120   4760   12550

In [47]:
df_analysis_top_mars2.head()  # Região top casados: 35242 (top mars1 = top MARS2)

         mars1  MARS2  NUMDEP
zipcode
35242    10780  12050   16390
35758     8760   9690   15000
35226     6410   8440   11090
35244     6670   7210   10620
36117     9810   7190   14230

In [48]:
df_analysis_top_numdep.head()  # Região top qtd dependentes: 35215 (interessante notar que no top 5 NUMDEP aparecem top4 mars1, além de outro com valor alto de declaração de imposto de renda, mas apenas top3MARS2 com dois outliers bem abaixo dos demais)

         mars1  MARS2  NUMDEP
zipcode
35215     8480   3240   17510
35242    10780  12050   16390
36116     7650   3350   15510
35758     8760   9690   15000
36117     9810   7190   14230

In [49]:
df_analysis_top_mars1.tail()  # Região bottom solteiros: 36112

         mars1  MARS2  NUMDEP
zipcode
36556       50     50      90
35469       50     40     100
36538       50     40     110
36481       40      0     110
36112        0     20      40

In [50]:
df_analysis_top_mars2.tail()  # Região bottom casados: 36481

         mars1  MARS2  NUMDEP
zipcode
36039       50     30     100
35060       80     20     140
35464       80     20     200
36112        0     20      40
36481       40      0     110

In [51]:
df_analysis_top_numdep.tail()  # Região bottom qtd dependentes: 36112 (Não foram observados outliers nos bottoms, praticamente permanecendo as mesmas regiões geográficas)

         mars1  MARS2  NUMDEP
zipcode
35755      100    160     100
36039       50     30     100
36455       60     50      90
36556       50     50      90
36112        0     20      40

2. Obtenha as primeiras 500 linhas em um dataframe chamado primeiras500. 
Em seguida obtenha as próximas 500 linhas em um dataframe proximas500. 
Para fazer isso, use os argumentos ``nrows`` e  ``skiprows`` para obter os registros corretos, 
``header`` para informar aos pandas que os dados não têm nomes de colunas e ``names`` para fornecer os nomes de colunas ausentes.     
Depois, nomeie as colunas em proximos500 fornecendo uma lista de colunas de primeiros500 para o argumento ``names``.
Use a função list() para obter nomes de coluna de primeiros500.

In [52]:
tax_data_path = 'dados/atividade1/us_tax_data_2016.csv'

primeiras_500 = pd.read_csv(
        tax_data_path,
        na_values={"zipcode": [0]},
        dtype={"zipcode": str},
        nrows=500
    )
primeiras_500.head()

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,NUMDEP,TOTAL_VITA,VITA,TCE,VITA_EIC,RAL,RAC,ELDERLY,A00100,N02650,A02650,N00200,A00200,N00300,A00300,N00600,A00600,N00650,A00650,N00700,A00700,N00900,A00900,N01000,A01000,N01400,A01400,N01700,A01700,SCHF,N02300,A02300,N02500,A02500,N26270,A26270,N02900,A02900,N03220,A03220,...,N09600,A09600,N05780,A05780,N07100,A07100,N07300,A07300,N07180,A07180,N07230,A07230,N07240,A07240,N07220,A07220,N07260,A07260,N09400,A09400,N85770,A85770,N85775,A85775,N09750,A09750,N10600,A10600,N59660,A59660,N59720,A59720,N11070,A11070,N10960,A10960,N11560,A11560,N06500,A06500,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,NaN,1,815440,477700,105350,221200,440830,1296920,491310,24730,16610,8130,5440,31550,225140,150920,10610343,815440,10787121,651680,8466376,90040,57551,42420,74527,38170,51048,11830,5328,144430,765184,34770,20594,38510,240402,104980,1038534,8310,22770,65220,37560,73490,7900,17497,145820,176778,1340,308,...,0,0,18830,6579,101150,34290,1760,68,6620,2205,27490,15002,32490,5582,28940,8858,1140,471,113880,155301,54520,230494,56460,231566,18020,10199,755160,2119297,363420,1097024,333760,981026,229900,291625,61350,57108,28510,14474,254700,160665,367320,330066,0,0,0,0,63420,51444,711580,1831661
1,1,AL,NaN,2,495830,211930,142340,128890,272440,996240,360480,10890,7100,3780,280,11770,118460,109680,17839904,495830,18020908,427840,14690098,89460,63622,39400,94307,35060,67289,47330,26083,65350,258861,31040,50118,36020,348074,100030,1812761,8920,15170,45546,91310,605042,10340,69499,96260,181004,14260,3476,...,0,0,17200,13087,216450,191023,6320,291,30880,17180,43580,45248,77770,14984,122630,108314,12690,6759,38490,84581,24960,96905,27540,110068,21690,14515,485140,2062531,138800,291932,115640,245939,102530,144943,33880,30970,5140,4460,375320,877407,398050,984297,0,0,0,0,74090,110889,416090,1173463
2,1,AL,NaN,3,263390,83420,137870,36340,154880,584000,182880,2480,1270,1210,0,150,41910,75570,16193076,263390,16351320,225610,12476022,80410,64816,38990,121115,35340,89415,58720,40132,41390,259064,31240,85650,29450,388970,73030,1836648,8470,7460,24614,63740,961406,11580,126140,69510,158244,8520,2146,...,40,96,4180,7590,113150,165544,9150,684,18100,9762,22780,29166,18710,2977,75270,113174,9740,5867,27370,68645,2400,8954,5780,22602,4510,4481,259650,1769024,70,24,20,7,9560,12495,16820,15588,0,0,249560,1264586,253180,1349246,0,0,0,0,64000,143060,195130,543284
3,1,AL,NaN,4,167190,29420,124060,10610,99700,421720,130160,620,390,230,0,0,18560,51540,14513312,167190,14646693,144290,10900188,67750,59882,33700,124605,30700,94076,53210,42499,28910,240845,27320,103892,22930,411954,53260,1666592,5510,3850,13372,42870,874160,8780,145281,49910,133381,8580,2323,...,260,609,520,1445,74870,127722,7530,1507,15060,8574,17250,22630,0,0,53970,88853,5770,2765,19550,56524,20,84,840,3148,510,724,165540,1693476,0,0,0,0,130,197,12040,11117,0,0,165330,1352397,165830,1425430,0,0,0,0,45020,128920,117410,381329
4,1,AL,NaN,5,217440,20240,188080,4880,129410,601040,195990,680,660,20,0,0,11620,68080,29375736,217440,29696755,193550,21806247,116090,145219,69540,375343,64870,300101,110430,118782,43180,684832,59160,506542,34750,909488,74160,2988298,8180,2280,8380,50010,1195287,24980,828015,77820,321019,12040,3192,...,1930,4531,140,580,95820,130089,19270,3949,21690,12377,20970,29469,0,0,46670,62728,6750,2896,31130,127140,0,0,160,717,180,360,215570,4072975,0,0,0,0,0,0,18770,17844,0,0,216500,3760298,216720,3922449,390,155,60,19,82940,423629,126130,506526

In [53]:
primeiras_500.tail()  # Para validar se o registro 500 (index 499) repetirá no próximo bloco

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,NUMDEP,TOTAL_VITA,VITA,TCE,VITA_EIC,RAL,RAC,ELDERLY,A00100,N02650,A02650,N00200,A00200,N00300,A00300,N00600,A00600,N00650,A00650,N00700,A00700,N00900,A00900,N01000,A01000,N01400,A01400,N01700,A01700,SCHF,N02300,A02300,N02500,A02500,N26270,A26270,N02900,A02900,N03220,A03220,...,N09600,A09600,N05780,A05780,N07100,A07100,N07300,A07300,N07180,A07180,N07230,A07230,N07240,A07240,N07220,A07220,N07260,A07260,N09400,A09400,N85770,A85770,N85775,A85775,N09750,A09750,N10600,A10600,N59660,A59660,N59720,A59720,N11070,A11070,N10960,A10960,N11560,A11560,N06500,A06500,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
495,1,AL,35176,4,30,0,20,0,30,70,30,0,0,0,0,0,0,0,2439,30,2439,30,2240,0,0,0,0,0,0,20,21,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,30,30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,30,295,0,0,0,0,0,0,0,0,0,0,30,229,30,236,0,0,0,0,0,0,30,87
496,1,AL,35176,5,20,0,20,0,0,50,0,0,0,0,0,0,0,0,3490,20,3490,20,2849,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,20,498,0,0,0,0,0,0,0,0,0,0,20,499,20,522,0,0,0,0,0,0,0,0
497,1,AL,35176,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
498,1,AL,35178,1,590,330,100,140,300,930,320,0,0,0,0,40,160,110,7613,590,7754,450,5813,70,37,30,26,30,21,0,0,90,712,20,7,30,249,90,739,0,0,0,30,66,0,0,110,141,0,0,...,0,0,40,23,80,24,0,0,0,0,30,19,40,9,20,7,0,0,80,119,60,238,60,237,0,0,550,1466,260,706,220,618,150,185,40,37,30,10,200,123,280,257,0,0,0,0,50,35,520,1243
499,1,AL,35178,2,390,150,120,100,200,760,250,0,0,0,0,0,100,80,13876,390,13943,340,11628,60,41,40,82,40,65,50,22,30,103,20,-10,40,338,70,1141,0,40,122,70,479,0,0,60,67,0,0,...,0,0,0,0,160,139,0,0,20,14,0,0,70,14,90,92,30,10,20,30,20,92,30,107,30,15,380,1595,120,222,100,189,80,89,0,0,0,0,310,677,320,728,0,0,0,0,50,64,330,926

In [69]:
proximas_500 = pd.read_csv(
    tax_data_path,
    na_values={'zipcode': [0]},
    dtype={'zipcode': str},
    nrows=500,
    skiprows=501,
    header=None,
    names=list(primeiras_500)
)

proximas_500.head()

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,NUMDEP,TOTAL_VITA,VITA,TCE,VITA_EIC,RAL,RAC,ELDERLY,A00100,N02650,A02650,N00200,A00200,N00300,A00300,N00600,A00600,N00650,A00650,N00700,A00700,N00900,A00900,N01000,A01000,N01400,A01400,N01700,A01700,SCHF,N02300,A02300,N02500,A02500,N26270,A26270,N02900,A02900,N03220,A03220,...,N09600,A09600,N05780,A05780,N07100,A07100,N07300,A07300,N07180,A07180,N07230,A07230,N07240,A07240,N07220,A07220,N07260,A07260,N09400,A09400,N85770,A85770,N85775,A85775,N09750,A09750,N10600,A10600,N59660,A59660,N59720,A59720,N11070,A11070,N10960,A10960,N11560,A11560,N06500,A06500,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,35178,3,230,60,120,50,140,540,200,0,0,0,0,0,40,60,13654,230,13737,210,11122,60,23,0,0,0,0,60,36,50,207,30,126,40,513,50,1253,30,0,0,50,691,30,928,50,83,0,0,...,0,0,0,0,110,164,0,0,20,17,30,43,30,4,70,128,0,0,30,53,0,0,0,0,0,0,220,1452,0,0,0,0,0,0,20,22,0,0,220,1005,220,1052,0,0,0,0,50,110,170,508
1,1,AL,35178,4,120,30,90,0,80,280,80,0,0,0,0,0,30,40,9905,120,10001,100,7247,40,69,20,238,20,141,40,24,0,0,0,0,0,0,40,1274,0,0,0,30,667,0,0,30,96,0,0,...,0,0,0,0,40,73,0,0,0,0,0,0,0,0,30,60,0,0,0,0,0,0,0,0,0,0,120,1149,0,0,0,0,0,0,0,0,0,0,110,889,110,931,0,0,0,0,40,62,80,274
2,1,AL,35178,5,110,0,90,0,80,280,90,0,0,0,0,0,0,60,14233,110,14454,120,12722,80,81,40,158,30,140,60,84,30,373,40,992,30,1163,50,1471,0,0,0,40,1083,0,0,50,221,0,0,...,0,0,0,0,40,58,0,0,0,0,0,0,0,0,20,33,0,0,20,60,0,0,0,0,0,0,110,1907,0,0,0,0,0,0,0,0,0,0,110,1757,110,1829,0,0,0,0,50,420,70,295
3,1,AL,35178,6,20,0,20,0,0,50,0,0,0,0,0,0,0,0,7392,20,7392,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,20,1215,0,0,0,0,0,0,0,0,0,0,20,1464,20,1551,0,0,0,0,0,0,0,0
4,1,AL,35179,1,1440,860,320,230,890,2180,670,0,0,0,0,60,280,310,17955,1440,18245,1110,14098,180,90,70,63,60,45,20,8,250,1474,70,58,90,505,220,2167,50,50,119,70,122,0,0,260,290,0,0,...,0,0,30,12,130,41,20,0,0,0,30,19,60,9,40,10,0,0,210,269,90,433,90,407,40,19,1330,3206,530,1362,460,1175,300,368,50,41,70,62,490,339,700,634,0,0,0,0,120,82,1250,2639

3. Carregue o arquivo tax_data_2016.csv, visualize o atributo dtypes do dataframe e observe os tipos de dados de CEP e agi_stub.

In [55]:
df = pd.read_csv(
    tax_data_path
)
df.dtypes

STATEFIPS     int64
STATE        object
zipcode       int64
agi_stub      int64
N1            int64
              ...
A85300        int64
N11901        int64
A11901        int64
N11902        int64
A11902        int64
Length: 147, dtype: object

4. Você deve ter observado que a coluna agi_stub contém números que correspondem a categorias de renda, e CEP tem valores de 5 dígitos que devem ser strings -- tratá-los como inteiros significa que perdemos 0s iniciais, que são significativos. 
Defina os tipos de dados corretos criando um dicionario chamado null_values, especificando que 0s na coluna CEP devem ser considerados valores NA.
Depois, carregue tax_data_2016.csv, usando o argumento na_values e o dicionário para garantir que CEPs inválidos sejam tratados como ausentes.

In [56]:
null_values = {'zipcode': [0]}

df = pd.read_csv(
    tax_data_path,
    na_values=null_values,
    dtype={'zipcode': str, 'agi_stub': str}
)
df.head()

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,NUMDEP,TOTAL_VITA,VITA,TCE,VITA_EIC,RAL,RAC,ELDERLY,A00100,N02650,A02650,N00200,A00200,N00300,A00300,N00600,A00600,N00650,A00650,N00700,A00700,N00900,A00900,N01000,A01000,N01400,A01400,N01700,A01700,SCHF,N02300,A02300,N02500,A02500,N26270,A26270,N02900,A02900,N03220,A03220,...,N09600,A09600,N05780,A05780,N07100,A07100,N07300,A07300,N07180,A07180,N07230,A07230,N07240,A07240,N07220,A07220,N07260,A07260,N09400,A09400,N85770,A85770,N85775,A85775,N09750,A09750,N10600,A10600,N59660,A59660,N59720,A59720,N11070,A11070,N10960,A10960,N11560,A11560,N06500,A06500,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,NaN,1,815440,477700,105350,221200,440830,1296920,491310,24730,16610,8130,5440,31550,225140,150920,10610343,815440,10787121,651680,8466376,90040,57551,42420,74527,38170,51048,11830,5328,144430,765184,34770,20594,38510,240402,104980,1038534,8310,22770,65220,37560,73490,7900,17497,145820,176778,1340,308,...,0,0,18830,6579,101150,34290,1760,68,6620,2205,27490,15002,32490,5582,28940,8858,1140,471,113880,155301,54520,230494,56460,231566,18020,10199,755160,2119297,363420,1097024,333760,981026,229900,291625,61350,57108,28510,14474,254700,160665,367320,330066,0,0,0,0,63420,51444,711580,1831661
1,1,AL,NaN,2,495830,211930,142340,128890,272440,996240,360480,10890,7100,3780,280,11770,118460,109680,17839904,495830,18020908,427840,14690098,89460,63622,39400,94307,35060,67289,47330,26083,65350,258861,31040,50118,36020,348074,100030,1812761,8920,15170,45546,91310,605042,10340,69499,96260,181004,14260,3476,...,0,0,17200,13087,216450,191023,6320,291,30880,17180,43580,45248,77770,14984,122630,108314,12690,6759,38490,84581,24960,96905,27540,110068,21690,14515,485140,2062531,138800,291932,115640,245939,102530,144943,33880,30970,5140,4460,375320,877407,398050,984297,0,0,0,0,74090,110889,416090,1173463
2,1,AL,NaN,3,263390,83420,137870,36340,154880,584000,182880,2480,1270,1210,0,150,41910,75570,16193076,263390,16351320,225610,12476022,80410,64816,38990,121115,35340,89415,58720,40132,41390,259064,31240,85650,29450,388970,73030,1836648,8470,7460,24614,63740,961406,11580,126140,69510,158244,8520,2146,...,40,96,4180,7590,113150,165544,9150,684,18100,9762,22780,29166,18710,2977,75270,113174,9740,5867,27370,68645,2400,8954,5780,22602,4510,4481,259650,1769024,70,24,20,7,9560,12495,16820,15588,0,0,249560,1264586,253180,1349246,0,0,0,0,64000,143060,195130,543284
3,1,AL,NaN,4,167190,29420,124060,10610,99700,421720,130160,620,390,230,0,0,18560,51540,14513312,167190,14646693,144290,10900188,67750,59882,33700,124605,30700,94076,53210,42499,28910,240845,27320,103892,22930,411954,53260,1666592,5510,3850,13372,42870,874160,8780,145281,49910,133381,8580,2323,...,260,609,520,1445,74870,127722,7530,1507,15060,8574,17250,22630,0,0,53970,88853,5770,2765,19550,56524,20,84,840,3148,510,724,165540,1693476,0,0,0,0,130,197,12040,11117,0,0,165330,1352397,165830,1425430,0,0,0,0,45020,128920,117410,381329
4,1,AL,NaN,5,217440,20240,188080,4880,129410,601040,195990,680,660,20,0,0,11620,68080,29375736,217440,29696755,193550,21806247,116090,145219,69540,375343,64870,300101,110430,118782,43180,684832,59160,506542,34750,909488,74160,2988298,8180,2280,8380,50010,1195287,24980,828015,77820,321019,12040,3192,...,1930,4531,140,580,95820,130089,19270,3949,21690,12377,20970,29469,0,0,46670,62728,6750,2896,31130,127140,0,0,160,717,180,360,215570,4072975,0,0,0,0,0,0,18770,17844,0,0,216500,3760298,216720,3922449,390,155,60,19,82940,423629,126130,506526

In [57]:
df.dtypes  # Para avaliar a mudança de int para obj (str)

STATEFIPS     int64
STATE        object
zipcode      object
agi_stub     object
N1            int64
              ...
A85300        int64
N11901        int64
A11901        int64
N11902        int64
A11902        int64
Length: 147, dtype: object

5. Leia o arquivo fcc_survey.xlsx, atribua-o à variável survey_responses e imprima os primeiros registros de survey_responses.

In [58]:
survey_path = 'dados/aula3/fcc_survey.xlsx'

survey_responses = pd.read_excel(survey_path)
survey_responses.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CodeEventCoffee,CodeEventConferences,CodeEventDjangoGirls,CodeEventGameJam,CodeEventGirlDev,CodeEventHackathons,CodeEventMeetup,CodeEventNodeSchool,CodeEventNone,CodeEventOther,CodeEventRailsBridge,CodeEventRailsGirls,CodeEventStartUpWknd,CodeEventWomenCode,CodeEventWorkshop,CommuteTime,CountryCitizen,CountryLive,EmploymentField,EmploymentFieldOther,EmploymentStatus,EmploymentStatusOther,ExpectedEarning,FinanciallySupporting,Gender,HasChildren,HasDebt,HasFinancialDependents,HasHighSpdInternet,HasHomeMortgage,HasServedInMilitary,HasStudentDebt,HomeMortgageOwe,HoursLearning,ID.x,ID.y,Income,IsEthnicMinority,...,NetworkID,Part1EndTime,Part1StartTime,Part2EndTime,Part2StartTime,PodcastChangeLog,PodcastCodeNewbie,PodcastCodingBlocks,PodcastDeveloperTea,PodcastDotNetRocks,PodcastHanselminutes,PodcastJSJabber,PodcastJsAir,PodcastNone,PodcastOther,PodcastProgrammingThrowDown,PodcastRubyRogues,PodcastSEDaily,PodcastShopTalk,PodcastTalkPython,PodcastWebAhead,ResourceBlogs,ResourceBooks,ResourceCodeWars,ResourceCodecademy,ResourceCoursera,ResourceDevTips,ResourceEdX,ResourceEggHead,ResourceFCC,ResourceGoogle,ResourceHackerRank,ResourceKhanAcademy,ResourceLynda,ResourceMDN,ResourceOdinProj,ResourceOther,ResourcePluralSight,ResourceReddit,ResourceSkillCrush,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0,United States of America,United States of America,office and administrative support,NaN,Employed for wages,NaN,NaN,0.0,male,0.0,1.0,1.0,1.0,0.0,0.0,1.0,NaN,30.0,cef35615d61b202f1dc794ef2746df14,48fd66e15301df9727e13e6e80aef941,32000.0,0.0,...,2c6f0af42c,2016-03-29 21:24:53,2016-03-29 21:23:13,2016-03-29 21:27:25,2016-03-29 21:24:57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.0,United States of America,United States of America,food and beverage,NaN,Employed for wages,NaN,50000.0,NaN,male,NaN,0.0,0.0,1.0,NaN,0.0,NaN,NaN,30.0,323e5a113644d18185c743c241407754,a8cd67193184084b1e32b362225bf280,15000.0,0.0,...,d048ac774d,2016-03-29 21:27:09,2016-03-29 21:24:59,2016-03-29 21:29:10,2016-03-29 21:27:14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Front-end happy hour,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,United States of America,United States of America,finance,NaN,Employed for wages,NaN,NaN,NaN,male,NaN,0.0,0.0,1.0,NaN,0.0,NaN,NaN,20.0,b29a1027e5cd062e654a63764157461d,129b4479808fe006e768502b957a0c52,48000.0,0.0,...,241513bbbe,2016-03-29 21:27:11,2016-03-29 21:25:37,2016-03-29 21:28:21,2016-03-29 21:27:13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,45.0,United States of America,United States of America,"arts, entertainment, sports, or media",NaN,Employed for wages,NaN,65000.0,NaN,female,NaN,1.0,0.0,1.0,0.0,0.0,1.0,NaN,20.0,04a11e4bcb573a1261eb0d9948d32637,7313b696ac8f0517a3d0ec7725039bb2,43000.0,0.0,...,809298000000000071062979228803985833984,2016-03-29 21:28:47,2016-03-29 21:21:37,2016-03-29 21:30:51,2016-03-29 21:28:51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,United States of America,United States of America,education,NaN,Employed for wages,NaN,45000.0,NaN,female,NaN,1.0,0.0,1.0,0.0,0.0,0.0,NaN,25.0,9368291c93d5d5f5c8cdb1a575e18bec,d0f75544984896ccfd361af6d9b26047,6000.0,1.0,...,cdc466b1ee,2016-03-29 21:29:27,2016-03-29 21:26:22,2016-03-29 21:31:54,2016-03-29 21:29:32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

6. Crie uma string chamada col_string, especificando que os pandas devem carregar a coluna AD e o intervalo AW até BA.
Carregue fcc_survey.xlsx, definindo ``skiprows`` e ``usecols`` para ignorar as duas primeiras linhas e obter apenas as colunas em col_string.
Visualize os nomes das colunas selecionadas no dataframe resultante.

In [59]:
col_string = "AD, AW:BA"

survey_responses = pd.read_excel(
    survey_path,
    skiprows=2,
    usecols=col_string
)
survey_responses.columns  # Observar que os nomes das colunas estão errados, sendo inferido o valor da primeira linha de detalhe como se fosse o cabeçalho

Index(['United States of America.1', 15000, '0.4', '0.5', '0.6', '1.1'], dtype='object')

In [60]:
# Para ajustar os nomes das colunas: leitura da primeira linha para obtenção do cabeçalho
cabecalho_survey_responses = pd.read_excel(
    survey_path,
    nrows=1,
    sheet_name='2016',
    usecols=col_string
)

survey_responses = pd.read_excel(
    survey_path,
    skiprows=2,
    header=None,
    sheet_name='2016',
    usecols=col_string,
    names=list(cabecalho_survey_responses)  # Passando os nomes corretos das colunas para ajustar a leitura da planilha
)
survey_responses.columns

Index(['CountryLive', 'Income', 'IsEthnicMinority',
       'IsReceiveDiabilitiesBenefits', 'IsSoftwareDev', 'IsUnderEmployed'],
      dtype='object')

7. Crie um dataframe a partir do arquivo `fcc_survey.xlsx` passando a posição da segunda aba para ``sheet_name``.

In [61]:
survey_responses = pd.read_excel(
    survey_path,
    sheet_name=1
)
survey_responses.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampLoanYesNo,BootcampName,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventConferences,CodeEventDjangoGirls,CodeEventFCC,CodeEventGameJam,CodeEventGirlDev,CodeEventHackathons,CodeEventMeetup,CodeEventNodeSchool,CodeEventNone,CodeEventOther,CodeEventRailsBridge,CodeEventRailsGirls,CodeEventStartUpWknd,CodeEventWkdBootcamps,CodeEventWomenCode,CodeEventWorkshops,CommuteTime,CountryCitizen,CountryLive,EmploymentField,EmploymentFieldOther,EmploymentStatus,EmploymentStatusOther,ExpectedEarning,FinanciallySupporting,FirstDevJob,Gender,GenderOther,HasChildren,HasDebt,HasFinancialDependents,HasHighSpdInternet,HasHomeMortgage,HasServedInMilitary,HasStudentDebt,HomeMortgageOwe,HoursLearning,ID.x,ID.y,Income,IsEthnicMinority,IsReceiveDisabilitiesBenefits,...,PodcastJSJabber,PodcastNone,PodcastOther,PodcastProgThrowdown,PodcastRubyRogues,PodcastSEDaily,PodcastSERadio,PodcastShopTalk,PodcastTalkPython,PodcastTheWebAhead,ResourceCodecademy,ResourceCodeWars,ResourceCoursera,ResourceCSS,ResourceEdX,ResourceEgghead,ResourceFCC,ResourceHackerRank,ResourceKA,ResourceLynda,ResourceMDN,ResourceOdinProj,ResourceOther,ResourcePluralSight,ResourceSkillcrush,ResourceSO,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3S,SchoolDegree,SchoolMajor,StudentDebtOwe,YouTubeCodeCourse,YouTubeCodingTrain,YouTubeCodingTut360,YouTubeComputerphile,YouTubeDerekBanas,YouTubeDevTips,YouTubeEngineeredTruth,YouTubeFCC,YouTubeFunFunFunction,YouTubeGoogleDev,YouTubeLearnCode,YouTubeLevelUpTuts,YouTubeMIT,YouTubeMozillaHacks,YouTubeOther,YouTubeSimplilearn,YouTubeTheNewBoston
0,27.0,0.0,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15 to 29 minutes,Canada,Canada,software development and IT,NaN,Employed for wages,NaN,NaN,NaN,NaN,female,NaN,NaN,1.0,0.0,1.0,0.0,0.0,0.0,NaN,15.0,02d9465b21e8bd09374b0066fb2d5614,eb78c1c3ac6cd9052aec557065070fbf,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,"some college credit, no degree",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,34.0,0.0,NaN,NaN,NaN,NaN,NaN,"less than 100,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United States of America,United States of America,NaN,NaN,Not working but looking for work,NaN,35000.0,NaN,NaN,male,NaN,NaN,1.0,0.0,1.0,0.0,0.0,1.0,NaN,10.0,5bfef9ecb211ec4f518cfc1d2a6f3e0c,21db37adb60cdcafadfa7dca1b13b6b1,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0,"some college credit, no degree",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21.0,0.0,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15 to 29 minutes,United States of America,United States of America,software development and IT,NaN,Employed for wages,NaN,70000.0,NaN,NaN,male,NaN,NaN,0.0,0.0,1.0,NaN,0.0,NaN,NaN,25.0,14f1863afa9c7de488050b82eb3edd96,21ba173828fbe9e27ccebaf4d5166a55,13000.0,1.0,0.0,...,NaN,NaN,Codenewbie,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,high school diploma or equivalent (GED),NaN,NaN,NaN,NaN,1.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I work from home,Brazil,Brazil,software development and IT,NaN,Employed for wages,NaN,40000.0,0.0,NaN,male,NaN,0.0,1.0,1.0,1.0,1.0,0.0,0.0,40000.0,14.0,91756eb4dc280062a541c25a3d44cfb0,3be37b558f02daae93a6da10f83f0c77,24000.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Portugal,Portugal,NaN,NaN,Not working but looking for work,NaN,140000.0,NaN,NaN,female,NaN,NaN,0.0,0.0,1.0,NaN,0.0,NaN,NaN,10.0,aa3f061a1949a90b27bef7411ecd193f,d7c56bbf2c7b62096be9db010e86d96d,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,bachelor's degree,Information Technology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

8. Carregue as planilhas de 2016 e 2017 por nome em variáveis separadas. Calcule a média da coluna Age para as diferentes abas do arquivo.

In [62]:
planilha_2016 = pd.read_excel(
    survey_path,
    sheet_name='2016'
)

planilha_2017 = pd.read_excel(
    survey_path,
    sheet_name='2017'
)

print(f"A média de idade em 2016 foi {planilha_2016['Age'].mean()} e em 2017 foi {planilha_2017['Age'].mean()}")

A média de idade em 2016 foi 29.17542055388232 e em 2017 foi 27.691872193661744

9. Concatene as diferentes abas do arquivo `fcc_survey.xlsx` em apenas um dataframe. Calcule a média da coluna Age para a concatenação das abas do arquivo.

In [63]:
survey_total = pd.concat([planilha_2016, planilha_2017])

print(f"A média de idades dos anos 2016 e 2017 é {survey_total['Age'].mean()}")

A média de idades dos anos 2016 e 2017 é 28.388750862663905

10.  Utilizando uma query em SQL e o banco `sqlite-sakila.db` retorne as cidades e os países, mas apenas os países que começem com a letra **B**.

In [64]:
# Importação das libs e criação da engine para conduzir as consultas ao SQLite
from sqlalchemy import create_engine
from sqlalchemy import inspect

engine = create_engine('sqlite:///dados/aula3/sqlite-sakila.db')
insp = inspect(engine)

In [65]:
# Consulta para descobrir os nomes das tabelas
sql_query = "SELECT name FROM sqlite_master WHERE type='table'"
tabelas_sql = pd.read_sql_query(sql_query, engine)
tabelas_sql

             name
0           actor
1         country
2            city
3         address
4        language
5        category
6        customer
7            film
8      film_actor
9   film_category
10      film_text
11      inventory
12          staff
13          store
14        payment
15         rental

In [66]:
# Consulta para descobrir as colunas da tabela country
sql_query = "SELECT * FROM country LIMIT 1"
colunas_country_sql = pd.read_sql_query(sql_query, engine)
colunas_country_sql

   country_id      country          last_update
0           1  Afghanistan  2021-03-06 15:51:49

In [67]:
# Consulta para descobrir as colunas da tabela city
sql_query = "SELECT * FROM city LIMIT 1"
colunas_city_sql = pd.read_sql_query(sql_query, engine)
colunas_city_sql

   city_id                city  country_id          last_update
0        1  A Corua (La Corua)          87  2021-03-06 15:51:49

In [68]:
# Consulta para resolução do exercício
sql_query = """
SELECT
    ci.city, 
    co.country 
FROM 
    city ci 
INNER JOIN 
    country co
ON 
    ci.country_id = co.country_id
WHERE
    co.country LIKE 'B%'
OR
    co.country LIKE 'b%'
ORDER BY 
    co.country, ci.city
"""
cidades_paises_sql = pd.read_sql_query(sql_query, engine)
cidades_paises_sql

                    city     country
0              al-Manama     Bahrain
1                  Dhaka  Bangladesh
2               Jamalpur  Bangladesh
3                Tangail  Bangladesh
4               Mogiljov     Belarus
5              Molodetno     Belarus
6                El Alto     Bolivia
7                  Sucre     Bolivia
8               Alvorada      Brazil
9         Angra dos Reis      Brazil
10               Anpolis      Brazil
11   Aparecida de Goinia      Brazil
12              Araatuba      Brazil
13                   Bag      Brazil
14                  Belm      Brazil
15              Blumenau      Brazil
16             Boa Vista      Brazil
17               Braslia      Brazil
18                Goinia      Brazil
19                Guaruj      Brazil
20                Ibirit      Brazil
21     Juazeiro do Norte      Brazil
22          Juiz de Fora      Brazil
23               Luzinia      Brazil
24                Maring      Brazil
25                    Po      Brazil
26        Poos de Caldas      Brazil
27             Rio Claro      Brazil
28   Santa Brbara dOeste      Brazil
29            Santo Andr      Brazil
30  So Bernardo do Campo      Brazil
31           So Leopoldo      Brazil
32              Sorocaba      Brazil
33            Vila Velha      Brazil
34  Vitria de Santo Anto      Brazil
35   guas Lindas de Gois      Brazil
36   Bandar Seri Begawan      Brunei
37                  Ruse    Bulgaria
38          Stara Zagora    Bulgaria